@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --primary: #7C3AED;
    --gray: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Roboto Mono', monospace;
}

/* nav */
.navigation {
    background-color: var(--primary);
    padding: 1rem 0rem;
    color: white;
    border-bottom-left-radius: 1rem;
}

.navigation ul {
    list-style: none;
    text-align: right;
}

.navigation li {
    display: inline-block;
    padding: 0rem 0.8rem;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation .active {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
    margin: 0.6rem 1rem;
  }

/* header */
.hero {
    padding: 2rem;
    padding-top: 5rem;
    color: var(--dark-gray);
    display: block;
}

.hero .hero-img {
    max-width: 80%;
    width: 550px;
    margin: auto;
    display: block;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary);
}

/* section */
.section {
    padding: 2rem 0rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--gray);
}

.container-center {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.container {
    margin-top: 0;
    margin-left: 0;
    padding: 10px;
}

/* lists style*/
.unordered {
    list-style: none;
}

.list-inline li {
    display: inline;
    padding: 0rem 0.5rem;
}

/* links style */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary);
    color: #fff;
    margin: 1rem auto;
    border-radius: 2rem;
}

.secondary-link {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    margin: 1rem auto;
    border-radius: 2rem;
    border: 1px solid var(--primary);
    color: var(--primary);
}

/* footer */
.footer {
    margin-top: 30px;
    background-color: var(--primary);
    color: white;
    padding: 2rem 0rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer .heading {
    font-weight: bold;
    font-size: larger;
}

.footer ul {
    padding-inline-start: 0px;
}

.para {
    text-align: center;
}